<br />

<table style="width: 100%;">
   <tr>
      <td align="center">
         <h2>
            <br />
            <span id="lblStatus" style="color:Red;">You are not authorized to access this page.</span>
         </h2>
      </td>
   </tr>
</table>
